.wrapper {
  background-color: white;
  box-shadow: 0px 0px 3px 0px lightgrey;
  margin-bottom: 15px;
  padding: 10px;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    color: darkgrey;
    margin-bottom: 0px;
  }
}

.divide_line {
  border-right: 1px solid lightgrey;
}

.modal_and_delete {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  > svg {
    font-size: 24px;
  }
}
