.sidebar_wrapper {
    border-right: 1px solid lightgrey;
}

.bottom_sidebar_company {
    margin-left: 20px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.bottom_sidebar_report {
    margin-left: 20px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}
