.row_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.company {
  border: 1px solid lightgrey;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow: 0px 0px 3px 0px lightgrey;
}

.btn_wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #204051;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;

  &:hover {
    background-color: #677981;
  }
  &:focus {
    outline: none;
  }
}
