.wrapper {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px 50px;
  background-color: #204051;
  border-radius: 20px 0px 20px 0px;
  color: #fff;
}

.button {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px 0px 10px 0px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #204051;
  &:hover {
    background-color: #d0d0d0;
    cursor: pointer;
  }
}

.input {
  border: none;
  padding: 10px 5px;
  margin: 0;
  margin-bottom: 30px;
}

.label {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}
