.wrapper {
  margin-top: 55px;
  margin-bottom: 50px;
}

.num_second {
  border: 1px solid;
  border-radius: 50%;
  padding: 0px 9px;
}

.num_first {
  border: 1px solid;
  border-radius: 50%;
  padding: 0px 7px;
}

.select_candidate {
  font-weight: 300;
}
.select_company {
  font-weight: 300;
}
.select_report_details {
  font-weight: 300;
}

.num_third {
  border: 1px solid;
  border-radius: 50%;
  padding: 0px 9px;
}

.bold {
  font-weight: 500;
}

.againBold {
  font-weight: 900;
}
